<a href="/">主页</a>
<h1>交互中国历史地图</h1>
<br/>
<p id="imageLookupTableJson" hidden=""><%= @map_hash %></p>

<!-- Map renderer-->
<img src="" id="map"/>
<br/>
<br/>

<!-- Slide bar-->
<div id="slider-bar"></div>

<!-- Year renderer-->
<p id="amount"></p>
<div id="output"></div>
<br/><br/>
<p>图片源：布哈林的历史地图。</p>
<p>布哈林的主页：<a href="http://www.acfun.cn/u/350475.aspx#" target="_blank">A站链接</a></p>
<p>后端支持:<a href="mailto:quzhi65222714@gmail.com?Subject=屈直个人工具%20Support%20Request" target="_blank">屈直</a></p>

<script src="/InteractiveMap.js"></script>